src/main/resources/com/glookast/commons/templates/templates.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://templates.commons.glookast.com"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:base="http://base.commons.glookast.com"
           version="1.0"
           targetNamespace="http://templates.commons.glookast.com">
    <xs:import namespace="http://base.commons.glookast.com" schemaLocation="../base/base.xsd" />

    <xs:simpleType name="TestResultProperty">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STORAGE_SYSTEM_CONNECTION_OK" />
            <xs:enumeration value="STORAGE_SYSTEM_AUTHENTICATION_OK" />
            <xs:enumeration value="STORAGE_SYSTEM_PATH_EXISTS" />
            <xs:enumeration value="STORAGE_SYSTEM_PATH_IS_FOLDER" />
            <xs:enumeration value="STORAGE_SYSTEM_PATH_CAN_READ" />
            <xs:enumeration value="STORAGE_SYSTEM_PATH_CAN_WRITE" />
            <xs:enumeration value="STORAGE_SYSTEM_PATH_CAN_EXECUTE" />
            <xs:enumeration value="METADATA_SYSTEM_CONNECTION_OK" />
            <xs:enumeration value="METADATA_SYSTEM_AUTHENTICATION_OK" />
            <xs:enumeration value="METADATA_SYSTEM_ROOT_FOLDER_EXISTS" />
            <xs:enumeration value="METADATA_SYSTEM_FOLDER_EXISTS" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="StorageSystem" abstract="true">
        <xs:sequence>
            <xs:element name="id" type="base:UUID" minOccurs="1" maxOccurs="1" />
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GenericStorageSystem">
        <xs:complexContent>
            <xs:extension base="tns:StorageSystem">
                <xs:sequence>
                    <xs:element name="location" type="xs:string" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ArvatoEditMateGenericStorageSystem">
        <xs:complexContent>
            <xs:extension base="tns:StorageSystem">
                <xs:sequence>
                    <xs:element name="location" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="option" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="VPMSStorageId" type="xs:string" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EditShareFlowStorageSystem">
        <xs:complexContent>
            <xs:extension base="tns:StorageSystem">
                <xs:sequence>
                    <xs:element name="hostname" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="port" type="xs:int" minOccurs="1" maxOccurs="1" />
                    <xs:element name="ssl" type="xs:boolean" minOccurs="1" maxOccurs="1" />
                    <xs:element name="username" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="password" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="storageURL" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="mediaSpace" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="hasFlowProxy" type="xs:boolean" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AvidStorageSystem" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:StorageSystem" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AvidNexisStorageSystem">
        <xs:complexContent>
            <xs:extension base="tns:AvidStorageSystem">
                <xs:sequence>
                    <xs:element name="systemDirector" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="workspace" type="xs:string" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AvidMediaNetworkStorageSystem">
        <xs:complexContent>
            <xs:extension base="tns:AvidStorageSystem">
                <xs:sequence>
                    <xs:element name="fileManager" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="workspace" type="xs:string" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AvidOtherStorageSystem">
        <xs:complexContent>
            <xs:extension base="tns:AvidStorageSystem">
                <xs:sequence>
                    <xs:element name="location" type="xs:string" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FtpStorageSystem">
        <xs:complexContent>
            <xs:extension base="tns:StorageSystem">
                <xs:sequence>
                    <xs:element name="hostname" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="port" type="xs:unsignedShort" minOccurs="1" maxOccurs="1" />
                    <xs:element name="folder" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="username" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="password" type="xs:string" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MetadataSystem" abstract="true">
        <xs:sequence>
            <xs:element name="id" type="base:UUID" minOccurs="1" maxOccurs="1" />
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XmlExportMetadataSystem">
        <xs:complexContent>
            <xs:extension base="tns:MetadataSystem">
                <xs:sequence>
                    <xs:element name="location" type="xs:string" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="JsonExportMetadataSystem">
        <xs:complexContent>
            <xs:extension base="tns:MetadataSystem">
                <xs:sequence>
                    <xs:element name="location" type="xs:string" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AvidAafExportMetadataSystem">
        <xs:complexContent>
            <xs:extension base="tns:MetadataSystem">
                <xs:sequence>
                    <xs:element name="location" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="pmrEnabled" type="xs:boolean" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AvidPamMetadataSystem">
        <xs:complexContent>
            <xs:extension base="tns:MetadataSystem">
                <xs:sequence>
                    <xs:element name="hostname" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="port" type="xs:unsignedShort" minOccurs="1" maxOccurs="1" />
                    <xs:element name="workgroup" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="username" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="password" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="realm" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="folder" type="xs:string" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AvidMamMetadataSystem">
        <xs:complexContent>
            <xs:extension base="tns:MetadataSystem">
                <xs:sequence>
                    <xs:element name="hostname" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="port" type="xs:unsignedShort" minOccurs="1" maxOccurs="1" />
                    <xs:element name="ssl" type="xs:boolean" minOccurs="1" maxOccurs="1" />
                    <xs:element name="username" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="password" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="realm" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="applicationId" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="applicationSecret" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="folderGuid" type="xs:string" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ArvatoEditMateMetadataSystem">
        <xs:complexContent>
            <xs:extension base="tns:MetadataSystem">
                <xs:sequence>
                    <xs:element name="hostname" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="port" type="xs:unsignedShort" minOccurs="1" maxOccurs="1" />
                    <xs:element name="ssl" type="xs:boolean" minOccurs="1" maxOccurs="1" />
                    <xs:element name="username" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="password" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="locatorTypeName" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="locatorNoteName" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="locatorColorName" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="restrictionTypeName" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="restrictionNoteName" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="restrictionColorName" type="xs:string" minOccurs="1" maxOccurs="1" />
                    <xs:element name="metadataFieldsMap" type="xs:string" minOccurs="1" maxOccurs="1" />

                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OutputSystem">
        <xs:sequence>
            <xs:element name="id" type="base:UUID" minOccurs="1" maxOccurs="1" />
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="storageSystemId" type="base:UUID" minOccurs="1" maxOccurs="1" />
            <xs:element name="metadataSystemIds" type="base:UUID" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="SystemType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GENERIC" />
            <xs:enumeration value="AVID" />
            <xs:enumeration value="FTP" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ContainerFormat">
        <xs:sequence>
            <xs:element name="id" type="base:UUID" minOccurs="1" maxOccurs="1" />
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="systemTypes" type="tns:SystemType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VideoFormat">
        <xs:sequence>
            <xs:element name="id" type="base:UUID" minOccurs="1" maxOccurs="1" />
            <xs:element name="codecName" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="codecVendor" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="codecVersion" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="codecFamily" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="displayWidth" type="xs:int" minOccurs="1" maxOccurs="1" />
            <xs:element name="displayHeight" type="xs:int" minOccurs="1" maxOccurs="1" />
            <xs:element name="frameRate" type="base:Rational" minOccurs="1" maxOccurs="1" />
            <xs:element name="interlaced" type="xs:boolean" minOccurs="1" maxOccurs="1" />
            <xs:element name="topFieldFirst" type="xs:boolean" minOccurs="1" maxOccurs="1" />
            <xs:element name="aspectRatio" type="base:Rational" minOccurs="1" maxOccurs="1" />
            <xs:element name="bitRate" type="xs:long" minOccurs="1" maxOccurs="1" />
            <xs:element name="constantBitRate" type="xs:boolean" minOccurs="1" maxOccurs="1" />
            <xs:element name="containerFormatIds" type="base:UUID" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AudioFormat">
        <xs:sequence>
            <xs:element name="id" type="base:UUID" minOccurs="1" maxOccurs="1" />
            <xs:element name="codecName" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="codecVendor" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="codecVersion" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="codecFamily" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="channels" type="xs:int" minOccurs="1" maxOccurs="1" />
            <xs:element name="sampleSize" type="xs:int" minOccurs="1" maxOccurs="1" />
            <xs:element name="samplingRate" type="xs:int" minOccurs="1" maxOccurs="1" />
            <xs:element name="bitRate" type="xs:long" minOccurs="1" maxOccurs="1" />
            <xs:element name="constantBitRate" type="xs:boolean" minOccurs="1" maxOccurs="1" />
            <xs:element name="containerFormatIds" type="base:UUID" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="TransformProfile">
        <xs:sequence>
            <xs:element name="id" type="base:UUID" minOccurs="1" maxOccurs="1" />
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="videoFormatId" type="base:UUID" minOccurs="1" maxOccurs="1" />
            <xs:element name="audioFormatId" type="base:UUID" minOccurs="1" maxOccurs="1" />
            <xs:element name="containerFormatId" type="base:UUID" minOccurs="1" maxOccurs="1" />
            <xs:element name="outputSystemIds" type="base:UUID" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Template">
        <xs:sequence>
            <xs:element name="id" type="base:UUID" minOccurs="1" maxOccurs="1" />
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="transformProfileIds" type="base:UUID" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>